* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.para{
    font-size: 1.2rem;
    color: #8f9aa8 ;
    font-family: 'Open Sans', sans-serif;
}

.h-primary{
    color: white;
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
}

.red{
    color: rgb(212, 69, 69);
}

li{
    list-style: none;
}

.hover-dropdown .dropdown-menu {
    display: none;
}

.hover-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover{
    background-color: darkslategray;
    color:  rgb(212, 69, 69) !important;
}

.btns{
    width: 190px;
    height: 55px;
    font-size: 1.2rem;
    border: 1px solid rgb(212, 69, 69);
    color: white;
    text-decoration: underline;
    font-weight: 600;
    background-color: transparent;
    transition: all 0.5s;
    transform: translateY(0);
}

.btns:hover{
    border: 2px solid #020205;
    background-color: rgb(212, 69, 69);
    transform: translateY(-10px);
    color: white;
}

/* Header CSS */

#header {
    position: relative;
    background: url('/images/blogsbg.webp') center/cover no-repeat;
}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
}


.content {
    width: 50%;
    position: relative;
    color: white;
    z-index: 1;
}

.content h3 {
    font-size: 3.8rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.content p {
    color: #b6c3d4;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
}

/* Our Blogs CSS */

#our-blogs{
background-color: black;
}

.blog{
    border: 1px solid rgb(212, 69, 69);
    background-color:  #0a0101;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px;
    transition: all 0.3s ease-in-out;
}

.blog .img-box{
    overflow: hidden;
}

.blog img{
    transition: all 0.4s ease-in-out;
}

.blog:hover{
    box-shadow: 0px 0px 20px 10px;
}

.blog:hover img{
scale: 1.1;
}

.buttons button:hover{
    border: 2px solid red;
    transition: all 0.3s ease-in-out;
}

.buttons button{
    border-radius: 4px;
    border: 2px solid darkslategray;
}

.blog-btn{
    font-size: 1rem;
    padding: 5px 15px 5px 15px;
    margin: 0px 10px 0px 10px;
}

/* Media Queries */


/* :::::::: PARA & HEADINGS QUERIES ::::::::  */

@media (max-width: 1770px) {

    i {
        font-size: 1.4rem;
    }

}

@media (max-width: 1600px) {

    .para {
        font-size: 1.2rem;
    }

    i {
        font-size: 1.3rem;
    }

}

@media (max-width: 1500px) {



    .para {
        font-size: 1.1rem;
    }

    i {
        font-size: 1.2rem;
    }

    .btns {
        font-size: 1.1rem;
    }

    .h-primary {
        font-size: 2.4rem;
    }

}


@media (max-width: 1400px) {

    .para {
        font-size: 1rem;
    }

    i {
        font-size: 1.1rem;
    }

}

@media (max-width: 1300px) {

    .btns {
        font-size: 1rem;
    }

    .h-primary {
        font-size: 2.2rem;
    }

    .para {
        font-size: 0.9rem;
    }

    i {
        font-size: 1.1rem;
    }



}

@media (max-width: 500px) {

    .btn {
        width: 150px;
        height: 35px;
        font-size: 0.9rem;
        border: 1px solid rgb(212, 69, 69);
        color: white;
        text-decoration: underline;
        font-weight: 600;
        background-color: none;
        transition: all 0.5s;
        transform: translateY(0);
    }
}

@media (max-width: 350px) {

    .h-primary {
        font-size: 2rem;
    }

    .para {
        font-size: 0.8rem;
    }

    i {
        font-size: 1.1rem;
    }

    .red {
        font-size: 2.5rem;
    }

}

@media (max-width: 298px) {

    .h-primary {
        font-size: 1.9rem;
    }

    .para {
        font-size: 0.6rem;
    }

    i {
        font-size: 1.1rem;
    }

}

/* :::::::: PARA & HEADING QUERIES ENDS ::::::::  */



/* Header Queries */

@media (max-width: 960px) {

    .content{
        width: 100%;
        text-align: center;
    }

}

/* Blog Btn Queries */

@media (max-width:450px) {
    .blog-btn{
        font-size: 1rem;
        padding: 3px 10px 3px 10px;
        margin: 0px 7px 0px 7px;
    }    
}

@media (max-width:350px) {
    .blog-btn{
        font-size: 0.8rem;
        padding: 3px 6px 3px 6px;
        margin: 0px 5px 0px 5px;
    }    
}

